@model CarManagementSystem.WebMVC.Models.CheckoutViewModel

@{
	ViewData["Title"] = "Checkout";
}

<h2 class="mt-4 mb-4">Chi tiết thanh toán</h2>
<hr />

<div class="row">
	@* Checkout Info Form *@
	<div class="col-md-6">
		<form asp-action="Checkout" method="post">
			<input type="hidden" asp-for="ApplyPromotionId"/>
			<input type="hidden" asp-for="TotalPrice"/>

			<div style="margin:20px">
				<h4>Thông tin địa chỉ</h4>

				<p>Địa chỉ chi tiết *</p>
				<div>
					<input asp-for="AddressInfo.Address" class="form-control" />
					<span asp-validation-for="AddressInfo.Address" class="text-danger"></span>
				</div>

				<p>Mã bưu điện *</p>
				<div>
					<input asp-for="AddressInfo.ZipCode" class="form-control" />
					<span asp-validation-for="AddressInfo.ZipCode" class="text-danger"></span>
				</div>

				<p>Ghi chú </p>
				<div>
					<input asp-for="AddressInfo.Note" class="form-control" />
					<span asp-validation-for="AddressInfo.Note" class="text-danger"></span>
				</div>
			</div>

			<div style="margin:20px">
				<h4>Thông tin thanh toán</h4>

				<p>Phương thức thanh toán *</p>
				<div>
					<select asp-for="PaymentMethod" class="form-control">
						<option value="Momo">Momo</option>
						<option value="COD">Trả tiền khi nhận hàng</option>
						<option value="Installment">Trả góp</option>
					</select>
					<span asp-validation-for="PaymentMethod" class="text-danger"></span>
				</div>
			</div>

			<div style="margin:20px">
				<div class="form-group mb-3 form-check">
					<input type="checkbox" class="form-check-input" asp-for="TermsAccepted" />

					<label class="form-check-label" asp-for="TermsAccepted">
						Tôi đã đọc và đồng ý với <a href="#" target="_blank">Điều khoản & Điều kiện</a> của website *
					</label>

					<span asp-validation-for="TermsAccepted" class="text-danger d-block"></span>
				</div>

				<button type="submit" class="btn btn-danger btn-lg">
					<i class="fas fa-money-check-alt"></i> Thanh toán
				</button>
			</div>
		</form>

	</div>

	@* Cart *@
	<div class="col-md-6">
		<div class="card bg-light p-3">
			<h4 class="card-title mb-3">Tóm tắt Đơn hàng</h4>
			<div class="table-responsive">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Sản phẩm</th>
							<th class="text-center">SL</th>
							<th class="text-right">Tạm tính</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.CartItems)
						{
							<tr>
								<td>@item.CarName</td>
								<td class="text-center">@item.Quantity</td>
								<td class="text-right">@((item.Price * item.Quantity).ToString("N0")) VNĐ</td>
							</tr>
						}
					</tbody>
					<tfoot>
						@if (Model.Promotion != null)
						{
							<tr>
								<td colspan="2" class="text-right text-success">
									<strong>Giảm giá @Model.Promotion.Discount %:</strong>
								</td>

								<td class="text-right text-success">
									<strong>@((Model.TotalPrice - Model.TotalPrice / (1 - Model.Promotion.Discount / 100)).ToString("N0")) VNĐ</strong>
								</td>
							</tr>
						}

						<tr>
							<td colspan="2" class="text-right"><strong>Tổng cộng:</strong></td>
							<td class="text-right"><strong>@(Model.TotalPrice.ToString("N0")) VNĐ</strong></td>
						</tr>
					</tfoot>
				</table>
			</div>

			<p class="text-muted small">* Vui lòng kiểm tra lại đơn hàng trước khi thanh toán.</p>
			@* Back to Cart Button *@
			<div>
				<a asp-action="Index" asp-controller="Cart" class="btn btn-primary btn-lg">
					<i class="fas fa-credit-card"></i> Quay lại giỏ hàng
				</a>
			</div>
		</div>

		<h4>Mã giảm giá </h4>
		<div class="mt-2">
			@* <input asp-for="PromotionId" class="form-control" /> *@
			<form asp-action="Checkout" method="get">
				<select name="promotionId" class="form-control">
					@foreach (var promotion in Model.Promotions)
					{
						<option value="@promotion.Id">@promotion.Code: @promotion.Description</option>
					}
				</select>
				<button type="submit" class="btn btn-outline-primary">
					Áp dụng
				</button>
			</form>
		</div>
	</div>


</div>


