@model List<CarManagementSystem.WebMVC.Models.CarCompanyViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Car Companies";
}

<h2>Quản lý hãng xe</h2>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Thêm mới</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tên hãng</th>
            <th>Mô tả</th>
            <th>Hoạt động</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CatalogName</td>
                <td>@item.Description</td>
                <td>@(item.IsActive ? "Hoạt động ✅ " : "Ngưng hoạt động ✘")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
